$base-size: 1px;
// 字体
$font-size-base: 16 * $base-size !default; // Assumes the brow
$font-size-large: $font-size-base * 1.25 !default;
$font-size-small: $font-size-base * 0.875 !default;
// 圆角
$border-radius-small: 4 * $base-size !default;
$border-radius-middle: 6 * $base-size !default;
$border-radius-large: 8 * $base-size !default;
// 自重
$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;
$font-weight-base: $font-weight-normal !default;
// 行高
$line-height-base: 1.5 !default;
$line-height-lg: 2 !default;
$line-height-sm: 1.25 !default;
// 标题大小
$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1 75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;

//链接
$link-color: $primary !default;
$link-decoration: none !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;

$body-bg: $white !default;
$body-color: $gray-900 !default;
$body-text-align: null !default;

// button
$btn-padding: 5 * $base-size !default;
$btn-min-width: 42 * $base-size !default;
$btn-height-small: 42 * $base-size !default;
$btn-height-middle: 47 * $base-size !default;
$btn-height-large: 52 * $base-size !default;

// input 
$input-underline-border: $base-size solid $gray-500;
$input-height-small: 36 * $base-size !default;
$input-height-middle: 40 * $base-size !default;
$input-height-large: 44 * $base-size !default;
$input-radius-small: 18 * $base-size !default;
$input-radius-middle: 20 * $base-size !default;
$input-radius-large: 22 * $base-size !default;
$input-text-indent: 10 * $base-size !default;
$input-margin: 5 * $base-size !default;

// white-space
$white-space-height-xs: 16 * $base-size !default;
$white-space-height-sm: 18 * $base-size !default;
$white-space-height-md: 20 * $base-size !default;
$white-space-height-lg: 22 * $base-size !default;
$white-space-height-xl: 24 * $base-size !default;

// toast
$toast-max-height: 60 * $base-size !default;
$toast-max-width: 160 * $base-size !default;
$toast-padding: 10 * $base-size 20 * $base-size !default;
$toast-background: $gray-700 !default;
$toast-color: $white !default;

