// 字体
$font-size-base: 18px !default; // Assumes the brow
$font-size-lg: $font-size-base * 1.25 !default;
$font-size-sm: $font-size-base * 0.875 !default;
// 圆角
$border-radius-small: 4px !default; 
$border-radius-middle: 6px !default; 
$border-radius-large: 8px !default; 
// 自重
$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;
$font-weight-base: $font-weight-normal !default;
// 行高
$line-height-base: 1.5 !default;
$line-height-lg: 2 !default;
$line-height-sm: 1.25 !default;
// 标题大小
$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1 75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;

//链接
$link-color: $primary !default;
$link-decoration: none !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;

$body-bg: $white !default;
$body-color: $gray-900 !default;
$body-text-align: null !default;

// button
$btn-padding-small: -4px !default;
$btn-padding-middle: 0px !default;
$btn-padding-large: 10px !default;
$btn-height-small: 42px !default;
$btn-height-middle: 47px !default;
$btn-height-large: 52px !default;


