// 基础颜色
$white: #fff !default;
$white-active: #ddd !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 ! default;
$gray-400: #ced4da ! default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;
$blue: #108ee9 !default;
$blue-active: #0e80d2 !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #e94f4f !default;
$red-active: #d24747 !default;
$orange: #fd7e14 !default;
$yellow: #fadb14 !default;
$green: #52c41a !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

// 配置颜色
$primary: $blue !default;
$secondaryl: $gray-600 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

// 字体颜色
$color-text-base: $black; // 基本
$color-text-base-inverse: $white; // 基本 - 反色

// 背景色
$fill-base: #fff;                   // 组件默认背景
$fill-body: #f5f5f9;                // 页面背景
$fill-tap: #ddd;                    // 组件默认背景 - 按下
$fill-disabled: #ddd;               // 通用失效背景
$fill-mask: rgba(0, 0, 0, 0.4);     // 遮罩背景
$color-icon-base: #ccc;             // 许多小图标的背景，比如一些小圆点，加减号
$fill-grey: #f7f7f7;
